# Ex - GroupBy

### Introduction:

GroupBy can be summarizes as Split-Apply-Combine.

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

Check out this [Diagram](http://i.imgur.com/yjNkiwL.png)  
### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv).

### Step 3. Assign it to a variable called drinks.

In [66]:
drinks=pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv')

### Step 4. Which continent drinks more beer on average?

In [67]:
print("Continent drinking more beer on average :",drinks.groupby('continent')['beer_servings'].mean().idxmax())

Continent drinking more beer on average : EU

### Step 5. For each continent print the statistics for wine consumption.

In [68]:
drinks.groupby('continent')['wine_servings'].describe()

           count        mean        std  min   25%    50%     75%    max
continent
AF          53.0   16.264151  38.846419  0.0   1.0    2.0   13.00  233.0
AS          44.0    9.068182  21.667034  0.0   0.0    1.0    8.00  123.0
EU          45.0  142.222222  97.421738  0.0  59.0  128.0  195.00  370.0
OC          16.0   35.625000  64.555790  0.0   1.0    8.5   23.25  212.0
SA          12.0   62.416667  88.620189  1.0   3.0   12.0   98.50  221.0

### Step 6. Print the mean alcoohol consumption per continent for every column

In [69]:
df=drinks.groupby('continent')['total_litres_of_pure_alcohol'].mean()
drinks=drinks.merge(df,on='continent')
drinks.rename(columns={'total_litres_of_pure_alcohol_x':'total_litres_of_pure_alcohol','total_litres_of_pure_alcohol_y':'Alcohol_Mean'},inplace=True)
drinks

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent,Alcohol_Mean
0,Afghanistan,0,0,0,0.0,AS,2.170455
1,Bahrain,42,63,7,2.0,AS,2.170455
2,Bangladesh,0,0,0,0.0,AS,2.170455
3,Bhutan,23,0,0,0.4,AS,2.170455
4,Brunei,31,2,1,0.6,AS,2.170455
5,Cambodia,57,65,1,2.2,AS,2.170455
6,China,79,192,8,5.0,AS,2.170455
7,North Korea,0,0,0,0.0,AS,2.170455
8,India,9,114,0,2.2,AS,2.170455
9,Indonesia,5,1,0,0.1,AS,2.170455
10,Iran,0,0,0,0.0,AS,2.170455
11,Iraq,9,3,0,0.2,AS,2.170455
12,Israel,63,69,9,2.5,AS,2.170455
13,Japan,77,202,16,7.0,AS,2.170455
14,Jordan,6,21,1,0.5,AS,2.170455
15,Kazakhstan,124,246,12,6.8,AS,2.170455
16,Kuwait,0,0,0,0.0,AS,2.170455
17,Kyrgyzstan,31,97,6,2.4,AS,2.170455
18,Laos,62,0,123,6.2,AS,2.170455
19,Lebanon,20,55,31,1.9,AS,2.170455
20,Malaysia,13,4,0,0.3,AS,2.170455
21,Maldives,0,0,0,0.0,AS,2.170455
22,Mongolia,77,189,8,4.9,AS,2.170455
23,Myanmar,5,1,0,0.1,AS,2.170455
24,Nepal,5,6,0,0.2,AS,2.170455
25,Oman,22,16,1,0.7,AS,2.170455
26,Pakistan,0,0,0,0.0,AS,2.170455
27,Philippines,71,186,1,4.6,AS,2.170455
28,Qatar,1,42,7,0.9,AS,2.170455
29,South Korea,140,16,9,9.8,AS,2.170455
...,...,...,...,...,...,...,...
140,Zambia,32,19,4,2.5,AF,3.007547
141,Zimbabwe,64,18,4,4.7,AF,3.007547
142,Argentina,193,25,221,8.3,SA,6.308333
143,Bolivia,167,41,8,3.8,SA,6.308333
144,Brazil,245,145,16,7.2,SA,6.308333
145,Chile,130,124,172,7.6,SA,6.308333
146,Colombia,159,76,3,4.2,SA,6.308333
147,Ecuador,162,74,3,4.2,SA,6.308333
148,Guyana,93,302,1,7.1,SA,6.308333
149,Paraguay,213,117,74,7.3,SA,6.308333
150,Peru,163,160,21,6.1,SA,6.308333
151,Suriname,128,178,7,5.6,SA,6.308333
152,Uruguay,115,35,220,6.6,SA,6.308333
153,Venezuela,333,100,3,7.7,SA,6.308333
154,Australia,261,72,212,10.4,OC,3.381250
155,Cook Islands,0,254,74,5.9,OC,3.381250
156,Fiji,77,35,1,2.0,OC,3.381250
157,Kiribati,21,34,1,1.0,OC,3.381250
158,Marshall Islands,0,0,0,0.0,OC,3.381250
159,Micronesia,62,50,18,2.3,OC,3.381250
160,Nauru,49,0,8,1.0,OC,3.381250
161,New Zealand,203,79,175,9.3,OC,3.381250
162,Niue,188,200,7,7.0,OC,3.381250
163,Palau,306,63,23,6.9,OC,3.381250
164,Papua New Guinea,44,39,1,1.5,OC,3.381250
165,Samoa,105,18,24,2.6,OC,3.381250
166,Solomon Islands,56,11,1,1.2,OC,3.381250
167,Tonga,36,21,5,1.1,OC,3.381250
168,Tuvalu,6,41,9,1.0,OC,3.381250
169,Vanuatu,21,18,11,0.9,OC,3.381250

### Step 7. Print the median alcoohol consumption per continent for every column

In [70]:
df=drinks.groupby('continent')['total_litres_of_pure_alcohol'].median()
drinks=drinks.merge(df,on='continent')
drinks=drinks.rename(columns={'total_litres_of_pure_alcohol_x':'total_litres_of_pure_alcohol','total_litres_of_pure_alcohol_y':'Alcohol_Medain'})
drinks

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent,Alcohol_Mean,Alcohol_Medain
0,Afghanistan,0,0,0,0.0,AS,2.170455,1.20
1,Bahrain,42,63,7,2.0,AS,2.170455,1.20
2,Bangladesh,0,0,0,0.0,AS,2.170455,1.20
3,Bhutan,23,0,0,0.4,AS,2.170455,1.20
4,Brunei,31,2,1,0.6,AS,2.170455,1.20
5,Cambodia,57,65,1,2.2,AS,2.170455,1.20
6,China,79,192,8,5.0,AS,2.170455,1.20
7,North Korea,0,0,0,0.0,AS,2.170455,1.20
8,India,9,114,0,2.2,AS,2.170455,1.20
9,Indonesia,5,1,0,0.1,AS,2.170455,1.20
10,Iran,0,0,0,0.0,AS,2.170455,1.20
11,Iraq,9,3,0,0.2,AS,2.170455,1.20
12,Israel,63,69,9,2.5,AS,2.170455,1.20
13,Japan,77,202,16,7.0,AS,2.170455,1.20
14,Jordan,6,21,1,0.5,AS,2.170455,1.20
15,Kazakhstan,124,246,12,6.8,AS,2.170455,1.20
16,Kuwait,0,0,0,0.0,AS,2.170455,1.20
17,Kyrgyzstan,31,97,6,2.4,AS,2.170455,1.20
18,Laos,62,0,123,6.2,AS,2.170455,1.20
19,Lebanon,20,55,31,1.9,AS,2.170455,1.20
20,Malaysia,13,4,0,0.3,AS,2.170455,1.20
21,Maldives,0,0,0,0.0,AS,2.170455,1.20
22,Mongolia,77,189,8,4.9,AS,2.170455,1.20
23,Myanmar,5,1,0,0.1,AS,2.170455,1.20
24,Nepal,5,6,0,0.2,AS,2.170455,1.20
25,Oman,22,16,1,0.7,AS,2.170455,1.20
26,Pakistan,0,0,0,0.0,AS,2.170455,1.20
27,Philippines,71,186,1,4.6,AS,2.170455,1.20
28,Qatar,1,42,7,0.9,AS,2.170455,1.20
29,South Korea,140,16,9,9.8,AS,2.170455,1.20
...,...,...,...,...,...,...,...,...
140,Zambia,32,19,4,2.5,AF,3.007547,2.30
141,Zimbabwe,64,18,4,4.7,AF,3.007547,2.30
142,Argentina,193,25,221,8.3,SA,6.308333,6.85
143,Bolivia,167,41,8,3.8,SA,6.308333,6.85
144,Brazil,245,145,16,7.2,SA,6.308333,6.85
145,Chile,130,124,172,7.6,SA,6.308333,6.85
146,Colombia,159,76,3,4.2,SA,6.308333,6.85
147,Ecuador,162,74,3,4.2,SA,6.308333,6.85
148,Guyana,93,302,1,7.1,SA,6.308333,6.85
149,Paraguay,213,117,74,7.3,SA,6.308333,6.85
150,Peru,163,160,21,6.1,SA,6.308333,6.85
151,Suriname,128,178,7,5.6,SA,6.308333,6.85
152,Uruguay,115,35,220,6.6,SA,6.308333,6.85
153,Venezuela,333,100,3,7.7,SA,6.308333,6.85
154,Australia,261,72,212,10.4,OC,3.381250,1.75
155,Cook Islands,0,254,74,5.9,OC,3.381250,1.75
156,Fiji,77,35,1,2.0,OC,3.381250,1.75
157,Kiribati,21,34,1,1.0,OC,3.381250,1.75
158,Marshall Islands,0,0,0,0.0,OC,3.381250,1.75
159,Micronesia,62,50,18,2.3,OC,3.381250,1.75
160,Nauru,49,0,8,1.0,OC,3.381250,1.75
161,New Zealand,203,79,175,9.3,OC,3.381250,1.75
162,Niue,188,200,7,7.0,OC,3.381250,1.75
163,Palau,306,63,23,6.9,OC,3.381250,1.75
164,Papua New Guinea,44,39,1,1.5,OC,3.381250,1.75
165,Samoa,105,18,24,2.6,OC,3.381250,1.75
166,Solomon Islands,56,11,1,1.2,OC,3.381250,1.75
167,Tonga,36,21,5,1.1,OC,3.381250,1.75
168,Tuvalu,6,41,9,1.0,OC,3.381250,1.75
169,Vanuatu,21,18,11,0.9,OC,3.381250,1.75

### Step 8. Print the mean, min and max values for spirit consumption.
#### This time output a DataFrame

In [71]:
spirit=pd.DataFrame(drinks)
spirit=spirit.groupby('continent')['spirit_servings'].describe().loc[:,['mean','min','max']]
spirit

                 mean   min    max
continent
AF          16.339623   0.0  152.0
AS          60.840909   0.0  326.0
EU         132.555556   0.0  373.0
OC          58.437500   0.0  254.0
SA         114.750000  25.0  302.0